@charset "UTF-8";
body {
  background: #f6f6f6;
  font-size: 16px;
  font-family: Roboto, Arial;
}

div[class^=col-] {
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
}

.row {
  margin-right: -5px;
  margin-left: -5px;
}

.navbar-brand {
  text-transform: uppercase;
}
.navbar-brand img {
  display: block;
  height: 25px;
}
.navbar-brand span {
  font-size: 12px;
  line-height: 12px;
}

.post-list .post {
  overflow: hidden;
  color: #333;
  text-decoration: none;
  position: relative;
  margin-bottom: 10px;
  display: block;
  transition: all 0.3s;
}
.post-list .post:hover {
  opacity: 0.7;
}
.post-list .post h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: bold;
  z-index: 4;
  position: relative;
}
.post-list .post span {
  font-size: 14px;
  z-index: 4;
  position: relative;
}
.post-list .post .info {
  position: relative;
  margin-top: -50px;
  padding: 20px;
}
.post-list .post .info:before {
  content: "";
  display: block;
  z-index: 4;
  position: absolute;
  height: 100px;
  top: -50px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, #d0d0b0 0%, rgba(208, 208, 176, 0) 100%);
}
.post-list .post .info:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background-color: #d0d0b0;
}

nav.navbar {
  border-bottom: 1px solid #dedede;
  background-color: #fff;
  padding-top: 0;
  padding-bottom: 0;
}
nav.navbar .nav-link {
  text-transform: uppercase;
  padding-top: 22px;
  padding-bottom: 22px;
  transition: all 0.3s;
  font-size: 14px;
}
nav.navbar .nav-link:hover {
  background-color: #f6f6f6;
}

.tzr {
  position: relative;
  background-color: #fff;
  cursor: pointer;
  font-size: 17px;
  transition: all 0.3s;
}
.tzr a {
  text-decoration: none;
}
.tzr:hover {
  opacity: 0.7;
}

.tzr.cube {
  color: #333;
  text-decoration: none;
  position: relative;
  display: block;
  height: 100%;
  transition: all 0.3s;
  box-shadow: 0 0 4px -2px #000;
}
.tzr.cube:hover {
  opacity: 0.7;
}
.tzr.cube:before {
  content: "Срочно";
  color: #fff;
  background-color: #e2484d;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  line-height: 26px;
  font-size: 14px;
}
.tzr.cube img {
  width: 100%;
}
.tzr.cube a {
  display: block;
  height: 100%;
  color: #333;
}
.tzr.cube p {
  padding: 20px;
  font-size: 16px;
  color: #333;
  font-weight: bold;
  margin-bottom: 0;
  z-index: 4;
}

.tzr.line {
  height: 180px;
  overflow: hidden;
  box-shadow: 0 0 4px -2px #000;
}
.tzr.line a {
  display: flex;
  align-items: center;
  height: 100%;
}
.tzr.line img {
  width: 50%;
}
.tzr.line p {
  color: #333;
  z-index: 5;
  padding: 10px;
  font-weight: bold;
  margin: 0;
}
.tzr.line:before {
  content: "Важно";
  color: #fff;
  background-color: #34b38a;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  line-height: 26px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .tzr.line {
    height: auto;
  }

  .tzr.line a {
    flex-direction: column;
  }

  .tzr.line img {
    width: 100%;
  }
}
.tzr.related img {
  width: 100%;
}
.tzr.related p {
  padding: 10px;
  margin: 0;
  color: #333;
  position: relative;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.tzr.related:before {
  content: "Рекомендуем";
  color: #fff;
  background-color: #348ef3;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  line-height: 26px;
  font-size: 14px;
}

.tzr.inline {
  border: 4px dashed #fee163;
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.tzr.inline a {
  display: flex;
  align-items: center;
}
.tzr.inline a:after {
  display: block;
  content: "";
  clear: both;
}
.tzr.inline img {
  width: 130px;
  margin-right: 15px;
}
.tzr.inline p {
  margin: 0;
  color: #333;
}
.tzr.inline:before {
  content: "Хит";
  color: #333;
  background-color: #fee163;
  position: absolute;
  left: 10px;
  top: -13px;
  padding: 0 10px;
  line-height: 26px;
  font-size: 14px;
}

@media (max-width: 767px) {
  .tzr.inline a {
    flex-direction: column;
  }

  .tzr.inline img {
    margin-right: 0;
    width: 100%;
    margin-bottom: 15px;
  }
}
.line-posts:before {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 3px;
  background: #feb400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.line-posts:after {
  content: "";
  display: block;
  width: 70%;
  margin: 0 auto;
  height: 3px;
  background: #feb400;
  margin-top: 20px;
  margin-bottom: 30px;
}

.article {
  padding-bottom: 15px;
  background: #fff;
  overflow: hidden;
}

.article .inner {
  padding: 15px;
  padding-top: 0;
  padding-bottom: 0;
}

.article .post-date {
  margin-left: -15px;
  padding: 10px 15px;
  margin-right: -15px;
  font-size: 13px;
  font-style: italic;
  background: #f6f6f6;
}

.article #share {
  display: table;
  margin: 0 auto;
}

.article h2 {
  font-size: 22px;
  margin-top: 40px;
}

.article blockquote {
  border-left: 3px solid #ffa2a2;
  padding-left: 30px;
  font-style: italic;
  color: #464646;
}

.article .image {
  position: relative;
}

.article .image h1 {
  margin-bottom: 0;
  font-size: 24px;
  padding: 20px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.article .image h1:before {
  content: "";
  display: block;
  z-index: 4;
  position: absolute;
  height: 150px;
  top: -100px;
  left: 0;
  right: 0;
  background-image: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0) 100%);
}

.article .image h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  background-color: black;
}

.article .image h1 span {
  position: relative;
  color: #fff;
  z-index: 10;
}

@media (max-width: 767px) {
  .article .image img {
    display: none;
  }

  .article .image h1 {
    position: relative;
  }

  .article .image h1:before,
.article .image h1:after {
    display: none;
  }

  .article .image h1 span {
    color: #333;
  }
}
.share-media h2 {
  text-align: center;
  font-size: 20px;
}

.share-media ul {
  display: table;
  margin: 0 auto;
  padding: 0;
}

.share-media li {
  display: inline-block;
  margin: 0 5px;
}

.share-media ul li:first-child {
  margin-left: 0;
}

.share-media ul li:last-child {
  margin-right: 0;
}

.share-media li a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  width: 50px;
  height: 50px;
  transition: all 0.3s;
}

.share-media li a i {
  font-size: 26px;
}

.share-media li a:hover {
  text-decoration: none;
  opacity: 0.7;
  transform: scale(1.1);
}

.share-media li.icon-vk a {
  background-color: #44668e;
}

.share-media li.icon-em a {
  background-color: #348ff3;
}

.share-media li.icon-wa a {
  background-color: #29a627;
}

.share-media li.icon-vb a {
  background-color: #7a509d;
}

.share-media li.icon-ok a {
  background-color: #f7931d;
}

.ya-share2__container_size_m .ya-share2__icon{
  width: 40px !important;
  height: 40px !important;
}